# MkDocs
site/
.mkdocs.yml.bak

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/
.venv/

# Django
db.sqlite3
media/

# IDEs
.vscode/
.idea/

# Sistema Operacional
.DS_Store
Thumbs.db

# Arquivos temporários
*.swp
*.swo
*~

# Dependências Front-end
node_modules/
.npm/

# Variáveis de ambiente
.env
.env.local

# Logs
*.log